body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  border-radius: 10px;  
}

.table {
  border-radius: 10px;
  text-align: center;
  background-color: gainsboro;
}

.price {
  background-color: red;
  padding: 20px 10px;
  color: white;
}

.package {
  margin: 20px;
}

.text {
  margin: 20px 30px;
}

button {
  background-color: blue;
  color: white;
  border-radius: 9999px;
  font-weight: bolder;
  padding: 5px 40px;
}

ol {
  margin: 1rem 3rem;
  
}

li {
  text-align: left;
}









